body {
  background: linear-gradient(to right, #cce0ff, #e6f0ff);
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #0d6efd;
  font-weight: 600;
}

form {
  transition: 0.3s ease;
}

form:hover {
  transform: scale(1.02);
}

#responseMessage {
  font-weight: 500;
  text-align: center;
}
